body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: aliceblue;
}

div{
    width: 80%;
    box-sizing: border-box;
    margin: auto;
}

.header{
    background-color: rgb(59, 59, 148);
    height: 100px;
    padding: 10px;
    text-align: center;
    color: white;
}

.navigasi{
    background-color: black;
    display: flex;
}

.navigasi ul li{
    list-style: none;
    display: inline-block;
    width: 60px;
    text-align: center ;
}

a{
    text-decoration: none;
    color :white;
}

.navigasi ul li a:hover{
    color: blueviolet;
}

.main{
    display: flex;
    background-color: white;
}

.content{
    width: 100%;
    margin: 0 ;
    background-color: white;
    padding: 20px;
}

.content .article{
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    line-height: 1.6 rem;
}

.content .article h4{
    text-align: center;
}

.content .article .read a{
    color: black;
    border: 1px solid lightgrey;
    width: 150px;
    padding: 5px;
    border-radius: 5px;
    justify-content: center;
}

.content .article .read a:hover{
    background-color: blueviolet;
    color: white;
}
.sidebar{
    margin-top: 10px;
    justify-content: left;
    border: 1px solid lightgrey;
    background-color: white;
    width: 40%;
    margin: 0;
    padding: 20px;

}

.sidebar ul li {
    list-style: none;
    line-height: 3em;
}

.sidebar a{
    color: black;
    text-decoration: none;
    text-align: left;
}
.sidebar a:hover{
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    background-color: black;
}
.footer {
    background-color:rgb(59, 59, 148);
    display: flex;
    padding: 10px;
    justify-content: center;
}